build
.idea
module_*
Propriatery
.scannerwork
_Databases
_Dependencies
_Volumes
BuildConfig.*
Version.*
VersionInfo.*
cmake-build-*
Build
pull_all
push_all
sync
clone
test
prepare
do_open

Run/Test/main.sh
Run/Project/open.sh
Run/Iconic/iconify.sh

Recipes/Iconic/launcher_parameters.sh
Recipes/Project/pre_open.sh
Recipes/Project/project_pre_open.sh
