[submodule "Propriatery"]
	path = Propriatery
	url = git@github.com:Helix-Track/Propriatery.git
[submodule "Core/Installable"]
	path = Core/Installable
	url = git@github.com:red-elf/Installable.git
[submodule "Core/Dependable"]
	path = Core/Dependable
	url = git@github.com:red-elf/Dependable.git
[submodule "Core/Versionable"]
	path = Core/Versionable
	url = git@github.com:red-elf/Versionable.git
[submodule "Upstreamable"]
	path = Upstreamable
	url = git@github.com:red-elf/Upstreamable.git
[submodule "Core/Toolkit"]
	path = Core/Toolkit
	url = git@github.com:red-elf/Software-Toolkit.git
[submodule "Core/Upstreamable"]
	path = Core/Upstreamable
	url = git@github.com:red-elf/Upstreamable.git
[submodule "Services-Toolkit"]
	path = Services-Toolkit
	url = git@github.com:red-elf/Services-Toolkit.git

[submodule "Core/Testable"]
	path = Core/Testable
	url = git@github.com:red-elf/Testable.git
[submodule "Project"]
	path = Project
	url = git@github.com:red-elf/Project.git
[submodule "Toolkit"]
	path = Toolkit
	url = git@github.com:red-elf/Software-Toolkit.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/Upstreamable"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/Upstreamable
	url = git@github.com:red-elf/Upstreamable.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/Stack-Definitions"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/Stack-Definitions
	url = git@github.com:Server-Factory/Stack-Definitions.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/Docker-Definitions"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/Docker-Definitions
	url = git@github.com:Server-Factory/Docker-Definitions.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/Software-Definitions"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/Software-Definitions
	url = git@github.com:Server-Factory/Software-Definitions.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/Installable"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/Installable
	url = git@github.com:red-elf/Installable.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/Dependable"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/Dependable
	url = git@github.com:red-elf/Dependable.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/Versionable"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/Versionable
	url = git@github.com:red-elf/Versionable.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/Software-Toolkit"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/Software-Toolkit
	url = git@github.com:red-elf/Software-Toolkit.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/Testable"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/Testable
	url = git@github.com:red-elf/Testable.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/trantor"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/trantor
	url = https://github.com/an-tao/trantor.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/json"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/json
	url = git@github.com:nlohmann/json.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/googletest"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/googletest
	url = git@github.com:google/googletest.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/JWT-drogon"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/JWT-drogon
	url = https://github.com/roq3/JWT-drogon
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/cpp-jwt"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/cpp-jwt
	url = git@github.com:arun11299/cpp-jwt.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/Propriatery"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/Propriatery
	url = git@github.com:Helix-Track/Propriatery.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/Services-Toolkit"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/Services-Toolkit
	url = git@github.com:red-elf/Services-Toolkit.git
[submodule "/home/milosvasic/Projects/HelixTrack/Core/_Submodules/Project"]
	path = /home/milosvasic/Projects/HelixTrack/Core/_Submodules/Project
	url = git@github.com:red-elf/Project.git
